@tailwind base;
@tailwind components;
@tailwind utilities;

@import  url("../src/assets/typeface.otf");


 
@layer base {

  html {
    @font-face {
      font-family: typeface;
      src: url("../src/assets/typeface.otf") format('otf');
    }

    font-family: Arial, sans-serif;
  }

  :root {
    --background: #111;
    --foreground: #bedf64;
 
    --card: #bedf64;
    --card-foreground: #bedf64;
 
    --popover: #bedf64;
    --popover-foreground: #bedf64;
 
    --primary: #bedf64;
    --primary-foreground: #333;
 
    --secondary: #bedf64;
    --secondary-foreground: #bedf64;
 
    --muted: #bedf64;
    --muted-foreground: #bedf64;
 
    --accent: #bedf64;
    --accent-foreground: #bedf64;
 
    --destructive: #bedf64;
    --destructive-foreground:#bedf64;
 
    --border: #d0f0428e; 
    --input: #bedf64;
    --ring: #bedf64;

  }

  .dark {
    --background: #111;
    --foreground: #bedf64;
 
    --card: #bedf64;
    --card-foreground: #bedf64;
 
    --popover: #bedf64;
    --popover-foreground: #bedf64;
 
    --primary: #bedf64;
    --primary-foreground: #333;
 
    --secondary: #bedf64;
    --secondary-foreground: #bedf64;
 
    --muted: #bedf64;
    --muted-foreground: #bedf64;
 
    --accent: #bedf64;
    --accent-foreground: #bedf64;
 
    --destructive: #bedf64;
    --destructive-foreground:#bedf64;
 
    --border: #d0f0428e; 
    --input: #bedf64;
    --ring: #bedf64;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
