/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: rtl;
}

body {
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

:where(input, button) {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1rem;
}

.page-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* Test */
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Small Screens */
@media (min-width: 768px) {
  .page-wrapper {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .page-wrapper {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1170px;
  }
}

/* Extra Large Screens */
@media (min-width: 1400px) {
  .page-wrapper {
    width: 1370px;
  }
}
/* End Global Rules */
/* Start Guide Page Styles */
.guide-page {
  background-color: #333;
  backdrop-filter: blur(120px);
  overflow-x: hidden;
}

.guide-page .page-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}

.guide-page .page-wrapper::after {
  content: "";
  background-color: #C9DF8A;
  width: 50vw;
  height: 35vw;
  border-radius: 50%;
  position: absolute;
  left: -100px;
  bottom: 0;
  z-index: -1;
  opacity: 0.2;
  filter: blur(100px);
}

.guide-page .content {
  width: calc(100% - 348px);
  padding-left: 70px;
}

.guide-page .content .guide-heading {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
}

.guide-page .guide-sidebar {
  background-color: rgb(201, 223, 138, 0.05);
  width: 348px;
  border: 1px solid rgb(201, 223, 138, 0.2);
  border-radius: 30px;
  position: sticky;
  top: 20px;
  z-index: 5;
}

.guide-page .guide-sidebar .header {
  padding: 20px 40px;
  border-bottom: 3px solid #333;
  font-size: 13px;
  font-weight: normal;
  position: relative;
}

.guide-page .guide-sidebar .header::before {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #C9DF8A;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.guide-page .guide-sidebar .body {
  padding: 30px 15px 0;
}

.guide-page .guide-sidebar .body input {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid #333;
  margin-bottom: 150px;
}

.guide-page .guide-sidebar .body input::placeholder {
  color: #fff;
}

.guide-page .guide-sidebar .body .icon {
  display: block;
  width: fit-content;
  margin-right: auto;
  color: #000;
  font-size: 241px;
  opacity: 0.1;
}
/* End Guide Page Styles */